<div class="app-content content">
  <div class="content-wrapper pl-0 pr-0 pt-0 pb-1">
    <div class="content-header row p-1 ">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body">
      <section class="flexbox-container">
          <div class="row">
              <div class="col-md-12" *blockUI="'changelog'; message: 'Loading'">
                <div class="stats">
                  <div class="row">
                    <div class="col-lg-5 col-md-5">
                      <div class="row">
                        <div class="col-3 text-center" style="width: auto">
                          <span class="countHeader">Total Records</span>
                          <h3 class="count">{{rows.length}}</h3>
                        </div>
                        <div class="col-3 text-center" style="width: auto">
                          <span class="countHeader">Uploaded Records</span>
                          <h3 class="count">0</h3>
                        </div>
                        <div class="col-3 text-center" style="width: auto">
                          <span class="countHeader">Deleted Records</span>
                          <h3 class="count">{{deletedCount}}</h3>
                        </div>
                        <div class="col-3 text-center" style="width: auto">
                          <span class="countHeader">Manual Records</span>
                          <h3 class="count">{{manualCount}}</h3>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-2 col-md-2">
                      <div class="form-group">
                        <label class="mr-1 mt-0">Sort By Errors</label>
                        <ui-switch class="switchery switch-small" switchColor="white" size="small" color="rgb(55, 188, 155)"
                          (change)="onSort($event)">
                        </ui-switch>
                        <label class="font-medium-2 text-bold-600 ml-1"></label>
                      </div>
                    </div>

                    <div class="col-lg-5 col-md-5">
                      <div class="d-flex justify-content-between">
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-outline-primary" (click)="addRow()">Add New</button>
                          <button type="button" class="btn btn-outline-info" (click)="onValidate()">Validate</button>
                          <button type="button" class="btn btn-outline-warning">Clear</button>
                          <button type="button" class="btn btn-outline-success">Submit</button>
                        </div>
                        <div class="text-center">
                          <i style="color: #d12406; zoom: 2.0; cursor: pointer;" class="la la-trash" (click)="onRemove()"></i>
                        </div>
                        <div class="text-center">
                          <button (click)="uploadData()" type="button" class="btn btn-info btn-md">UPLOAD <i
                              class="la la-cloud-upload"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
              <ngx-datatable class="material expandable" [limit]="10" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="'50'" fxFlex="auto" [selected]="selected" [selectionType]="'checkbox'"
                (select)="onSelect($event)">

                <ngx-datatable-column name="#" [maxWidth]="2">
                  <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{rowIndex + 1}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [maxWidth]="2">
                  <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                    let-selectFn="selectFn">
                    <input style="zoom: 1.3" type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
                  </ng-template>

                  <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                    let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <input style="zoom: 1.3" type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Employee ID" [width]="30">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <input [style.border-color]="row.isValidated ? '#d4d7dc' : 'red' " class="form-control input-sm"
                      [(ngModel)]="row.employeeId" />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="First Name" [width]="5">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <input class="form-control input-sm" [(ngModel)]="row.firstName" />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Last Name" [width]="5">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <input class="form-control input-sm" [(ngModel)]="row.lastName" />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="SBU" [width]="1">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <input class="form-control input-sm" [(ngModel)]="row.sbu" />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Period" [width]="1">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <input class="form-control input-sm" [(ngModel)]="row.period" />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Change Type" [width]="20">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <input class="form-control input-sm" [(ngModel)]="row.changeType" />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Wage Type" [width]="5">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <input class="form-control input-sm" [(ngModel)]="row.wageType" />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Amount" [width]="5">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <input class="form-control input-sm" [(ngModel)]="row.amount" />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Goal Amount" [width]="20">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <input class="form-control input-sm" [(ngModel)]="row.goalAmount" />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Assign No." [width]="5">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <input class="form-control input-sm" [(ngModel)]="row.assignNo" />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Effective Date" [width]="30">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <input class="form-control input-sm" [(ngModel)]="row.effectiveDate" />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="End Date" [width]="5">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <input class="form-control input-sm" [(ngModel)]="row.endDate" />
                  </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>
            </div>
      </section>
    </div>
  </div>
</div>



<!-- Employee ID Modal -->
<ng-template class="modal text-left" #EmployeeIDModal let-c="close" let-d="dismiss">
  <div class="modal-lg">
    <div class="modal-header">
      <h4>Search Employee ID</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg">
          <div class="form-group">
            <label>SBU</label>
            <input type="text" class="form-control input-sm" placeholder="Pick and SBU" />
          </div>
        </div>
        <div class="col-lg">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control input-sm" placeholder="Search First Name" />
          </div>
        </div>
        <div class="col-lg">
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control input-sm" placeholder="Search Last Name" />
          </div>
        </div>
        <div class="col-lg">
          <div class="form-group">
            <label>Employee ID</label>
            <input type="text" class="form-control input-sm" placeholder="Search Employee ID" />
          </div>
        </div>
        <div class="col-lg contentCenter">
          <button class="btn btn-info">Search</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ngx-datatable class="material expandable" [limit]="10" [rows]="modalRows" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'" fxFlex="auto" [selected]="selected"
            [selectionType]="'checkbox'" (activate)="onActivate($event)" (select)="onSelect($event)">

            <ngx-datatable-column [maxWidth]="2">
              <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                let-selectFn="selectFn">
                <input style="zoom: 1.3" type="checkbox" [checked]="allRowsSelected"
                  (change)="selectFn(!allRowsSelected)" />
              </ng-template>

              <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                let-onCheckboxChangeFn="onCheckboxChangeFn">
                <input style="zoom: 1.3" type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="ID" [width]="5">
              <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                {{row.id}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Name" [width]="5">
              <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                {{row.name}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Age" [width]="5">
              <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                {{row.age}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Group" [width]="5">
              <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                {{row.group}}
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-warning">Clear</button>
      <button class="btn btn-outline-success">Add</button>
    </div>
  </div>
</ng-template>

<ng-template class="modal text-left" #WageTypeModal let-c="close" let-d="dismiss">
  <div class="modal-lg">
    <div class="modal-header">
      <h4 id="myModalLabel23">Search Wage Type</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg">
          <div class="form-group">
            <label>Wage Type</label>
            <input type="text" class="form-control input-sm" placeholder="Enter Wage Type" />
          </div>
        </div>
        <div class="col-lg">
          <div class="form-group">
            <label>Pick A Wage Type</label>
            <select class="form-control input-sm">
              <option>Select Option</option>
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
            </select>
          </div>
        </div>
        <div class="col-lg contentCenter">
          <button class="btn btn-info">Search</button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-warning">Clear</button>
      <button class="btn btn-outline-success">Add</button>
    </div>
  </div>
</ng-template>

<input id="fileUpload" type="file" (change)="onSelectFile($event)" multiple="false" hidden />
