.dropdown-menu.arrow {
    margin-top: 50px;
    margin-left: 97px;
}

.dropdown-menu.arrow:before {
    left: 70px !important;
    border-bottom-color: #ffffff;
}

.dropdown-menu.arrow:after {
    top: 0px;
}

@media only screen and (max-width:767px) {
  ._dropdown_mob {
      margin-left: 150px !important;
  }
}

a {
  color: #D6373D !important;
}
