<footer id="footer" class="footer footer-static footer-dark navbar-border navbar-shadow" *ngIf="showFooter">
  <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span
      class="float-md-center d-block d-md-inline-block">Copyright &copy; 2019 <a
        class="text-bold-800 grey darken-2" href="https://smartdocsnow.com"
        target="_blank">SmartDocs Inc.</a></span><span> Powered by SmartDocs.</span></p>
</footer>

<footer id="footer" class="footer fixed-bottom footer-dark navbar-border navbar-shadow" *ngIf="!showFooter">
  <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span
    class="float-md-center d-block d-md-inline-block">Copyright &copy; 2019 <a
      class="text-bold-800 grey darken-2" href="https://smartdocsnow.com"
      target="_blank">SmartDocs Inc.</a></span><span> Powered by SmartDocs.</span> </p>
</footer>
