.margin-left-5 {
  margin-left: 5px;
}

.card-title {
  display: flex;
}

p {
  position: relative;
  top: 50%;
  color: black;
}

.form-control-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-right {
  display: flex;
  float: right;
  position: relative;
  bottom: 25px;
  margin-right: 8px;
  opacity: 0.8;
}
