﻿<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1"></div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-4 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 px-1 py-1 m-0" style="width: 29rem;">
                            <div class="card-header border-0">
                                <div class="card-title">
                                    <img src="assets/images/logo/grace-logo 1.png" alt="branding logo">
                                    <b>
                                        <p>SMART PORTAL</p>
                                    </b>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="tryLogin()">
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="text" formControlName="email" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="user-name"
                                                placeholder="Username" required />
                                            <div class="form-control-position">
                                                <i class="feather ft-user"></i>
                                            </div>
                                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                <div *ngIf="f.email.errors.required">Username is required</div>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left has-icon-right">
                                            <input [type]="isTextFieldType ? 'text' : 'password'" placeholder="Password"
                                                formControlName="password" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                            <div class="form-control-position">
                                                <i class="feather ft-lock"></i>
                                            </div>
                                            <div class="text-right" (click)="togglePasswordFieldType()">
                                                <i
                                                    [class]="isTextFieldType ? 'feather ft-eye' : 'feather ft-eye-off'"></i>
                                            </div>
                                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                <div *ngIf="f.password.errors.required">Password is required</div>
                                            </div>
                                        </fieldset>
                                        <div class="form-group text-center">
                                            <div class="custom-control custom-checkbox mb-1">
                                                <input type="checkbox" class="custom-control-input" name="remember-me"
                                                    id="remember-me">
                                                <label class="custom-control-label" for="remember-me">Remember
                                                    Me</label>
                                            </div>
                                            <button type="submit" class="btn btn-outline-info btn-block">
                                                <i class="fa fa-refresh fa-spin" *ngIf="submitted"></i>
                                                <i class="feather ft-unlock" *ngIf="!submitted"></i> Login
                                            </button><br>

                                            <ngb-alert *ngIf="isInvalid" [dismissible]="true" [type]="''"
                                                class="mb-2 bg-danger" role="alert">
                                                <strong>{{invalidText}}</strong>
                                            </ngb-alert>
                                            <br>
                                            <a href="#" class="card-link">Forgot Password?</a>
                                        </div>
                                    </form><br>
                                    <div class="container text-center">
                                        <p>Powered by</p>
                                        <img src="assets/images/logo/SD-Logo.png" alt="smartdocs logo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>