@media (max-width: 767.98px) {
    .header-navbar .navbar-header {
        width: 100% !important;
        top: 3px;
    }
}

.nav-item{
    position: relative;
}

.img-fluid {
    position: absolute;
    top: 10px;
    right: 41vw;
}

.brand-text{
    margin-left: 10px;
}