<div class="app-content content">
  <div class="content-wrapper pl-0 pr-0 pt-0 pb-0">
    <div class="content-header row p-1 ">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body">
      <section class="flexbox-container">
        <div class="row">
          <div class="col-12" *blockUI="'changelog'; message: 'Loading'">
            <div class="row stats d-flex align-items-baseline m-auto">
              <div
                class="col-lg-4 col-md-3 mb-0 mt-1 form-group input-group"
              >
              <div class="form-group position-relative" style="width: 100%;">
                  <input
                    type="text"
                    class="form-control form-control-xl input-lg"
                    id="iconLeft1"
                    placeholder="Search by Employee ID"
                  />
                  <div class="form-control-position mr-1">
                    <i class="icon-magnifier dark font-medium-4"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 form-group">
                <select class="form-control" id="FormControlSelect1">
                  <option disabled>Filter By</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
              <div
                class="col-lg-3 col-md-3 col-sm-3 form-group d-flex justify-content-end"
              >
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-outline-success btn-md">
                    Approve
                  </button>
                  <button type="button" class="btn btn-outline-danger btn-md">
                    Reject
                  </button>
                </div>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 icon">
                <button
                  style="color: #f08b19 ; zoom: 1.5;"
                  type="button"
                  class="btn btn-icon btn-pure"
                >
                  <i class="feather ft-refresh-ccw"></i>
                </button>
              </div>
              <button
                (click)="uploadData()"
                type="button"
                class="col-lg col-md btn btn-info btn-md"
              >
                UPLOAD
                <i class="la la-cloud-upload white"></i>
              </button>
            </div>
            <ngx-datatable
              class="material expandable"
              [limit]="10"
              [rows]="rows"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'35'"
              fxFlex="auto"
              [selected]="selected"
              [selectionType]="'checkbox'"
              (select)="onSelect($event)"
            >
              <ngx-datatable-column
                name="#"
                [width]="2"
                [minWidth]="2"
                [maxWidth]="3"
              >
                <ng-template
                  let-rowIndex="rowIndex"
                  ngx-datatable-cell-template
                >
                  {{ rowIndex + 1 }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [width]="5" [minWidth]="3" [maxWidth]="5">
                <ng-template
                  ngx-datatable-header-template
                  let-value="value"
                  let-allRowsSelected="allRowsSelected"
                  let-selectFn="selectFn"
                >
                  <input
                    style="zoom: 1.3"
                    type="checkbox"
                    [checked]="allRowsSelected"
                    (change)="selectFn(!allRowsSelected)"
                  />
                </ng-template>
                <ng-template
                  ngx-datatable-cell-template
                  let-value="value"
                  let-isSelected="isSelected"
                  let-onCheckboxChangeFn="onCheckboxChangeFn"
                >
                  <input
                    style="zoom: 1.3"
                    type="checkbox"
                    [checked]="isSelected"
                    (change)="onCheckboxChangeFn($event)"
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="SmartDocs ID" [width]="55">
                <ng-template
                  let-rowIndex="rowIndex"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  <span
                    [style.color]="
                      row.validated ? 'rgba(0, 0, 0, 0.87)' : 'red'
                    "
                    >{{ row.name }}</span
                  >
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Employee ID" [width]="55">
                <ng-template
                  let-rowIndex="rowIndex"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  <span
                    [style.color]="
                      row.validated ? 'rgba(0, 0, 0, 0.87)' : 'red'
                    "
                    >{{ row.name }}</span
                  >
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="First Name" [width]="55">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.position }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Last Name" [width]="55">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span
                    [style.color]="
                      row.validated ? 'rgba(0, 0, 0, 0.87)' : 'red'
                    "
                    >{{ row.office }}</span
                  >
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="SBU" [width]="55">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.age }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Payroll" [width]="55">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span
                    [style.color]="
                      row.validated ? 'rgba(0, 0, 0, 0.87)' : 'red'
                    "
                    >{{ row.age }}</span
                  >
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Pay Register" [width]="65">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.startdate }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Change Report" [width]="60">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.startdate }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Status" [width]="50">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.age }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Created Date" [width]="50">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.startdate }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Employee ID Modal -->
<ng-template
  class="modal text-left"
  #EmployeeIDModal
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-lg">
    <div class="modal-header">
      <h4 id="myModalLabel23">Search Employee ID</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg">
          <div class="form-group">
            <label>SBU</label>
            <input
              type="text"
              class="form-control input-sm"
              placeholder="Pick and SBU"
            />
          </div>
        </div>
        <div class="col-lg">
          <div class="form-group">
            <label>First Name</label>
            <input
              type="text"
              class="form-control input-sm"
              placeholder="Search First Name"
            />
          </div>
        </div>
        <div class="col-lg">
          <div class="form-group">
            <label>Last Name</label>
            <input
              type="text"
              class="form-control input-sm"
              placeholder="Search Last Name"
            />
          </div>
        </div>
        <div class="col-lg">
          <div class="form-group">
            <label>Employee ID</label>
            <input
              type="text"
              class="form-control input-sm"
              placeholder="Search Employee ID"
            />
          </div>
        </div>
        <div class="col-lg contentCenter">
          <button class="btn btn-info">Search</button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-warning">Clear</button>
      <button class="btn btn-outline-success">Add</button>
    </div>
  </div>
</ng-template>

<ng-template
  class="modal text-left"
  #WageTypeModal
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-lg">
    <div class="modal-header">
      <h4 id="myModalLabel23">Search Wage Type</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg">
          <div class="form-group">
            <label>Wage Type</label>
            <input
              type="text"
              class="form-control input-sm"
              placeholder="Enter Wage Type"
            />
          </div>
        </div>
        <div class="col-lg">
          <div class="form-group">
            <label>Pick A Wage Type</label>
            <select class="form-control input-sm">
              <option>Select Option</option>
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
            </select>
          </div>
        </div>
        <div class="col-lg contentCenter">
          <button class="btn btn-info">Search</button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-warning">Clear</button>
      <button class="btn btn-outline-success">Add</button>
    </div>
  </div>
</ng-template>
