:host ::ng-deep .block-ui-wrapper {
  background: rgba(255, 249, 249, 0.5) !important;
}

.stats {
  width: auto;
  padding: 10px;
  background: #f8f8f8;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

input[disabled] {
  background-color: white;
}

.contentCenter {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableDiv {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

ngx-datatable {
  width: 100%;
}

.header {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.gotoLeft {
  float: left;
}
.gotoRight {
  float: right;
}

:host ::ng-deep .ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-label {
  font-family: inherit;
  font-size: small;
  font-weight: bold;
  color: #454545;
}
