:host ::ng-deep .block-ui-wrapper {
  background: rgba(255, 249, 249, 0.5) !important;
}

.container1 {
  background: url('src\assets\images\backgrounds\964.png');
  background-size: cover;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white {
  letter-spacing: 0.3rem;
  font-size: xx-large;
}
.card1, .card2, .card3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  border-left: 10px solid rgb(183, 181, 255);
  height: 10rem;
  width: 25rem;
  text-align: center;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}
.card2 {
  border-left: 10px solid rgb(220, 228, 115);;
}
.card3 {
  border-left: 10px solid rgb(65, 143, 97);
}