<div class="app-content content">
  <div class="content-wrapper pl-0 pr-0 pt-0">
    <div class="content-body">
      <section class="flexbox-container">
        <div class="container1">
          <p class="white">SmartDocs Payroll</p>
        </div>
        <div
          class="container d-flex justify-content-between align-items-center"
        >
          <div
            class="card1"
            [routerLink]="['/payroll/iccr']"
            (click)="changeLayoutHeader('/payroll/iccr')"
          >
            <div class="card-body">
              <h3 class="card-text text-bold-700">
                Initiate Compensation Change Request
              </h3>
            </div>
          </div>
          <div
            class="card2"
            [routerLink]="['/payroll/ccr']"
            (click)="changeLayoutHeader('/payroll/ccr')"
          >
            <div class="card-body">
              <h3 class="card-text text-bold-700">
                Compensation Change Dashboard
              </h3>
            </div>
          </div>
          <div
            class="card3"
            [routerLink]="['/payroll/prd']"
            (click)="changeLayoutHeader('/payroll/prd')"
          >
            <div class="card-body">
              <h3 class="card-text text-bold-700">Payroll Result Dashboard</h3>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
