<div class="app-content content">
  <div class="content-wrapper pl-0 pr-0 pt-0 pb-0">
    <div class="content-header row pt-1 pl-1">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body">
      <section class="flexbox-container">
        <div class="stats m-1">
          <div class="row">
            <div class="col-lg-2 ml-2 text-center">
              <div class="form-group">
                <select class="form-control">
                  <option selected disabled>SBU ID</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                </select>
              </div>
            </div>
            <div class="col-lg-2 ml-2 text-center">
              <div class="form-group">
                <select class="form-control">
                  <option selected disabled>Payroll Period</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 ml-2 text-center">
              <div class="form-group position-relative">
                <input
                  type="text"
                  class="form-control form-control-xl input-lg mb-1"
                  id="iconLeft1"
                  placeholder="Search by Employee ID"
                />
                <div class="form-control-position mr-1">
                  <i class="icon-magnifier dark font-medium-4"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2 text-right">
              <button class="btn btn-info btn-md btn-min-width">APPLY</button>
              <br /><br />
              <h5 class="moreFilters" (click)="onMoreFilter()">
                More Filters
                <i
                  [ngClass]="filtered ? 'feather ft-minus' : 'feather ft-plus'"
                ></i>
              </h5>
            </div>
          </div>
          <div class="row" *ngIf="filtered">
            <div class="col-lg-2 ml-2 text-center">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-xl input-lg mb-1"
                  placeholder="From Document"
                />
              </div>
            </div>
            <div class="col-lg-2 ml-2 text-center">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-xl input-lg mb-1"
                  placeholder="To Document"
                />
              </div>
            </div>
            <div class="col-lg-2 ml-2 text-center">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="From Date"
                  name="dp"
                  ngbDatepicker
                  #d1="ngbDatepicker"
                />
                <div class="input-group-append">
                  <div class="input-group-text" (click)="d1.toggle()">
                    <i class="fa fa-calendar" style="cursor: pointer;"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 text-center">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="To Date"
                  name="dp"
                  ngbDatepicker
                  #d2="ngbDatepicker"
                />
                <div class="input-group-append">
                  <div class="input-group-text" (click)="d2.toggle()">
                    <i class="fa fa-calendar" style="cursor: pointer;"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" *blockUI="'changelog'; message: 'Loading'">
            <ngx-datatable
              class="material expandable"
              [limit]="10"
              [rows]="stylerows"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'35'"
              fxFlex="auto"
              [selected]="selected"
              [selectionType]="'checkbox'"
              (select)="onSelect($event)"
            >
              <ngx-datatable-column name="#" [width]="5">
                <ng-template
                  let-rowIndex="rowIndex"
                  ngx-datatable-cell-template
                >
                  {{ rowIndex + 1 }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [width]="5">
                <ng-template
                  ngx-datatable-header-template
                  let-value="value"
                  let-allRowsSelected="allRowsSelected"
                  let-selectFn="selectFn"
                >
                  <input
                    style="zoom: 1.3"
                    type="checkbox"
                    [checked]="allRowsSelected"
                    (change)="selectFn(!allRowsSelected)"
                  />
                </ng-template>

                <ng-template
                  ngx-datatable-cell-template
                  let-value="value"
                  let-isSelected="isSelected"
                  let-onCheckboxChangeFn="onCheckboxChangeFn"
                >
                  <input
                    style="zoom: 1.3"
                    type="checkbox"
                    [checked]="isSelected"
                    (change)="onCheckboxChangeFn($event)"
                  />
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Name">
                <ng-template
                  let-rowIndex="rowIndex"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  {{ row.name }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Position">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.position }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Office">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.office }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Age">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.age }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Salary">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.salary }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Startdate">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.startdate }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Employee ID Modal -->
<ng-template
  class="modal text-left"
  #EmployeeIDModal
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-lg">
    <div class="modal-header">
      <h4 id="myModalLabel23">Search Employee ID</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg">
          <div class="form-group">
            <label>SBU</label>
            <input
              type="text"
              class="form-control input-sm"
              placeholder="Pick and SBU"
            />
          </div>
        </div>
        <div class="col-lg">
          <div class="form-group">
            <label>First Name</label>
            <input
              type="text"
              class="form-control input-sm"
              placeholder="Search First Name"
            />
          </div>
        </div>
        <div class="col-lg">
          <div class="form-group">
            <label>Last Name</label>
            <input
              type="text"
              class="form-control input-sm"
              placeholder="Search Last Name"
            />
          </div>
        </div>
        <div class="col-lg">
          <div class="form-group">
            <label>Employee ID</label>
            <input
              type="text"
              class="form-control input-sm"
              placeholder="Search Employee ID"
            />
          </div>
        </div>
        <div class="col-lg contentCenter">
          <button class="btn btn-info">Search</button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-warning">Clear</button>
      <button class="btn btn-outline-success">Add</button>
    </div>
  </div>
</ng-template>

<ng-template
  class="modal text-left"
  #WageTypeModal
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-lg">
    <div class="modal-header">
      <h4 id="myModalLabel23">Search Wage Type</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg">
          <div class="form-group">
            <label>Wage Type</label>
            <input
              type="text"
              class="form-control input-sm"
              placeholder="Enter Wage Type"
            />
          </div>
        </div>
        <div class="col-lg">
          <div class="form-group">
            <label>Pick A Wage Type</label>
            <select class="form-control input-sm">
              <option>Select Option</option>
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
            </select>
          </div>
        </div>
        <div class="col-lg contentCenter">
          <button class="btn btn-info">Search</button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-warning">Clear</button>
      <button class="btn btn-outline-success">Add</button>
    </div>
  </div>
</ng-template>
