:host ::ng-deep .block-ui-wrapper {
    background: rgba(255, 249, 249, 0.5) !important;
  }

  .stats {
    padding: 30px 0px 10px 20px;
    background: white;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

  .moreFilters {
    color: #1E9FF2;
    font-weight: bold;
    cursor: pointer;
}

  .contentCenter {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.header {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
  }
  .gotoLeft {
    float: left;
  }
  .gotoRight {
    float: right;
  }

  :host ::ng-deep .ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-label {
    font-family: inherit;
    font-size: medium;
    font-weight: bold;
    color: #454545;
}

.header-name {
    width: 30%;
    height: 7vh;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    background-color: #5A5A5A;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center
}
#searchbtn{
    margin-top: 1.5rem;
}

.filter {
    display: grid;
    grid-template-columns: repeat(5,minmax(220px, 1fr));
}

.filter>div {
    padding: 5px;
}
